html{
    background-color: azure;
    font-family: Arial, Sans-Serif;
    font-size: 10px;
}

#box {
    background-color: rgb(110, 110, 110);
    height:600px;
    width: auto;
    display: flex; 
    flex-direction:row; 
    align-items: center;
    justify-content: space-around;
}

.torre {
    display: flex; 
    flex-direction:column-reverse; 
    align-items: center;
    background-color: rgb(170, 170, 170);
    height: 400px;
    border-radius: 5px;
    width: 30px;
}

.disco{
    height: 40px;
    margin-top: 2px;
    border-radius: 5px;
}

#disco4{
    width: 250px;
    background-color: rgb(62, 62, 139);
}

#disco3{
    width: 200px;
    background-color: rgb(184, 43, 0);
}

#disco2{
    width: 150px;
    background-color: rgb(0, 184, 40); 
}

#disco1{
    width: 100px;
    background-color: rgb(255, 208, 0);
}

#boxRod {
    display: flex;
    flex-direction:row; 
    align-items: center;
    justify-content: space-around;
}

.rod {
    margin-top: -120px;
    background-color: rgb(170, 170, 170);
    width: 250px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    font-size: 23px;
    font-family: 'Lucida Sans', sans-serif;
}